@charset "UTF-8";
body {
	background-color:#44667C;
}
.subtitulo {
	font-weight: 700;
	margin-top: 10px;
	color: #44667C;
	font-size: larger;
}

.bodyStyle {
	padding: 10px;
}

.breadCrumb {
	font-size:15px;	
}

.ui-breadcrumb ul li .ui-menuitem-link{
	color:#44667C;
}

.usuario {
	margin: 0px;
	color: #40424B;
	float: left;
	padding: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	position: relative;
	width: 500px;
}

.nav-header {
	margin-left: 0;
	background-image: radial-gradient(circle, #44677d, #587689, #6d8596, #8195a3, #95a5b0);
	height: 70px;
	border-radius: 5px;
}

.w100{
	width: 200px !important;
}

.table{
	background-color: #40424B;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    border-style: none;
}
